@font-face {
    font-family: "InfinitySans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InfinitySans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    height: 100%;
    padding: 10px;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 860px) {
    #app {
        flex-direction: row;
    }
}

/* cursor */
button {
    cursor: pointer;
}

/* svg icons */
.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke: #f1f1f1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 24;
}

/* background image */
html {
    background: #121212;
    color: #f1f1f1;
    font-family: "InfinitySans";
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#bg {
    position: fixed;
    top: -15px;
    left: -15px;
    width: calc(100vw + 30px);
    height: calc(100vh + 30px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    opacity: 0.8;
    filter: blur(30px);
    pointer-events: none;
}

/* video */
@keyframes spin {
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.video {
    width: clamp(0px, 100%, 600px);
}

.video__container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
}

.video__container.playing {
    animation-play-state: running;
}

.video__container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.video__title {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.video__control {
    text-align: center;
    margin-top: 20px;
}

.video__control__button {
    width: 1.5rem;
    height: 1.5rem;
}

/* list */
.list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: calc(100vw - 50px);
    height: 80vh;
    padding: 10px;
    transition: transform 0.25s ease-in-out;
    transform: translate3d(100%, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px 0 0 10px;
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    backdrop-filter: blur(8px) saturate(180%);
    overflow: hidden;
}

.list.active {
    transform: translate3d(0, 0, 0);
}

.list__form {
    display: flex;
    margin-bottom: 0.9rem;
}

.list__form > input {
    position: relative;
    display: block;
    width: 100%;
    height: 2rem;
    background: 0;
    outline: 0;
    border: 0;
    padding: 0 5px;
    margin-right: 10px;
    color: #f1f1f1;
    transition: box-shadow 0.15s ease-in-out;
}

.list__form > input::placeholder {
    color: #f1f1f1;
}

.list__form > input:focus {
    box-shadow: inset 0 -2px #f1f1f1;
}

.list__form > input[hidden] {
    display: none;
}

.list__form .icon {
    height: 2rem;
}

.list__form > div[type="submit"] {
    display: inline-flex;
    height: clamp(0px, 100%, calc(620px + 1.5rem));
    justify-content: center;
    align-items: center;
}

#playlist {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: calc(80vh - 2.9rem - 20px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5), transparent;
}

#playlist::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

#playlist::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

#playlist > li {
    display: flex;
    padding: 0.25rem 10px;
    margin-bottom: 10px;
    height: 2rem;
    line-height: 1.5rem;
}

#playlist > li > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
    flex-grow: 1;
    cursor: pointer;
}

#playlist > li > button {
    flex-shrink: 0;
    background: 0;
    border: 0;
    padding: 0;
}

#playlist > li > button > svg {
    stroke: #dc3545;
}

.list__toggle {
    position: fixed;
    right: 0;
    bottom: 15vh;
    margin: 0;
    padding: 10px 3px;
    background: rgba(18, 18, 18, 0.25);
    border: 0;
    outline: 0;
    border-radius: 10px 0 0 10px;
}

.list__toggle,
.list__toggle > svg {
    transition: transform 0.25s ease-in-out;
}

.list__toggle.active {
    transform: translate3d(calc(-100vw + 50px), 0, 0);
}

.list__toggle.active > svg {
    transform: rotate3d(0, 0, 1, 180deg);
}

@media screen and (min-width: 860px) {
    .list {
        position: static;
        width: auto;
        height: clamp(0px, 100%, calc(620px + 1.5rem));
        padding: 10px;
        margin-left: auto;
        transition: none;
        transform: none;
        background: none;
        border-radius: 0;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    .list__toggle {
        display: none;
    }

    #playlist {
        max-height: calc(100% - 2.9rem);
    }
}

/* tmpPlayer */
#tmpPlayer {
    position: fixed;
    width: 0;
    height: 0;
}
