#app {
    display: flex;
}

/* background image */
html {
    background: #121212;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#bg {
    position: fixed;
    top: -15px;
    left: -15px;
    width: calc(100vw + 30px);
    height: calc(100vh + 30px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    opacity: 0.8;
    filter: blur(30px);
    pointer-events: none;
}

/* video */
@keyframes spin {
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.video__container {
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
}

.video__container.playing {
    animation-play-state: running;
}

.video__control {
    text-align: center;
    margin-top: 20px;
}

.video__control__button {
    width: 1.5rem;
    height: 1.5rem;
}

iframe {
    display: block;
}

/* list */
